.contenedor{
    display: flex;
    flex-direction: column;
    margin: 120px 0px 60px 60px;
    background: transparent;
}
body, html{
    background-image: url(fondo1.jpg);
    background-repeat: repeat;
    color: white;
    
}
.label1{
    width: 100px;
}
.alineacion{
    display: flex;
    flex-direction: column;
}
h1{
    margin: 10px 10px 30px 10px;
}
.alinear{
    margin-top: 30px;
}
alerta{
    background: #F2DEDE;
    display: flex;
    width: auto;
    padding: 10px;
    text-align: center;
}